blockquote {
  font-style: italic;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11pt;
}

.byline {
  text-align: right;
}

canvas {
  border: 1px solid #ccc;
  border-radius: 4px;
}

/*#container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
}
*/
fieldset div {
  margin-bottom: 10px;
}

div.col {
  float: left;
  margin: 25px 0 25px 25px;
}

div.col:first-of-type {
  margin-left: 0;
}

fieldset {
  clear: both;
  min-height: 120px;
}

textarea.form-control {
  height: 500px;
  width: 300px;
  font-family: Monaco, monospace;
}

#putJS {
  display: none;
}

.clear-button {
  float: right;
}

hr {
  clear: both;
}